<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>{{ title }}</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
            <link rel="stylesheet" href="/style.css">

            <link rel="shortcut icon" href="/img/favicon.png">
            <link rel="apple-touch-icon" href="/img/favicon.png">
            <link rel="icon" sizes="192x192" href="/img/favicon.png">
       
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>



    </head>

    <body>






     {{ content | safe }}
   

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>




<script>

// nav toggle - select button and links
const navToggle = document.querySelector("#navToggle")
const nav = document.querySelector("#nav-links")

// add event listener
navToggle.addEventListener("click", () => {
    nav.classList.toggle('nav-open')
})



const faders = document.querySelectorAll('.fade-in');
const appearOptions = {
    threshold: 0,
    
  };


const appearOnScroll = new IntersectionObserver(function(entires, appearOnScroll) {
    entires.forEach(entry => {
        if (!entry.isIntersecting) {
            return;
            }else{
                entry.target.classList.add('appear')
                appearOnScroll.unobserve(entry,target);
            }          
        });
}, 
appearOptions);

faders.forEach(fader => {
    appearOnScroll.observe(fader);
});














</script>     
    













      
      <script>
let spinnerWrapper = document.querySelector('.spinner-wrapper');
  
window.addEventListener('load', function () {
    // spinnerWrapper.style.display = 'none';
    spinnerWrapper.parentElement.removeChild(spinnerWrapper);
});
</script>     
    





    </body>
    
    </html>

