<footer>

      <img class="footer-logo" src="/img/Home_logo.png">
      
      <div class="footer-section-1">     
           

       
   

          <div class="social-icon-section">

          <a href="contact.html" role="button"><img class="social-icon" src="/img/email.png"></a>

          <a href="tel: 215-555-5555" role="button"><img class="social-icon" src="/img/phone.png"></a>

          <a href="https://www.facebook.com/Jim-Clauss-Home-Remodeling-1519015281646744/" role="button"><img class="social-icon" src="/img/facebook.png"></a>

       
        </div>
        </div>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: var(--clr-primary-100)">
          <p>© 2022 Jim Clauss Remodeling</p>
        </div>
        <!-- Copyright -->
 

          <!-- Copyright -->
          <div class="develop">
            Designed & Developed by
            <a href="https://feasiblegfx.github.io/feasiblegfx/">feasible creative</a>
          </div>
          <!-- Copyright -->
        </footer>
  