@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

:root{
  --clr-primary-200: #ffffff;
  --clr-primary-300: #ffdb4d;
  --clr-primary-400: #484848;
  --clr-primary-900: #000000;

}


.carousel-icon{
  width: 2rem;
}

.carousel-inner{
background-color: red;
margin-top: 6rem;

}



.carousel-item{
  height: 20rem;
  background-color: var(--clr-primary-900);
  position: relative;
  background-position: center;
  background-size: cover;
  text-align: center;

 
 }

.carousel-container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 1rem;
 

}


.carousel-button{
  color: var(--clr-primary-200);
  background-color: var(--clr-primary-900);
  width: 50%;
  padding: 1rem;
  border-radius: 5rem;
  border-style: solid;
  border-width: .1rem;
  font-weight: bold;
  font-size: 1rem;
  transition: all 300ms ease-in-out;
  border-style: solid;
  border-color: var(--clr-primary-200);
  border-width: .25rem;
  box-shadow: 0rem .25rem .25rem rgba(0, 0, 0, .5);
  margin: 1rem;
  

}










.spinner-wrapper{
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary-900);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.spinner::before,
.spinner:after{
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image:linear-gradient(90deg, #ffdb4d 0%,#000000 100% );
  animation: spin .5s infinite linear;
}
.spinner:after {
  width: 90%;
  height: 90%;
  background-color: var(--clr-primary-900);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }

}















* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  

}

body {
  font-family: "Rubik", serif;
  color: var(--clr-primary-900);
  font-size: 1rem;
  line-height: 1.25;
  height: 100vh;
  max-width: 100% !important;
  margin-right: auto;
  margin-left: auto;


}


p{
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;


}

h1, h2{
  text-align: center;
  margin-bottom: .5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--clr-primary-900);

}

h3{
  font-size: 1.25rem;
}



.container-flex-nav {
  max-width: 100%;
  padding-bottom: 5rem;
  background-color: var(--clr-primary-200);
  height: 4rem;
  box-shadow: 0px 10px 10px rgba(98, 98, 98, 0.1);
  

  }


a {
  color: var(--clr-primary-200);
  text-decoration: none;
  font-weight: bold;
  transition: all 300ms;
  
}

a:hover{
  color: var(--clr-primary-300);
  cursor: pointer;
 

}




.nav-link {
  list-style: none;
  margin: 2rem 0;
  border-bottom: 2px solid rgb(0, 0, 0);
  width: 8rem;
  
  
}


/* Navbar */
.navbar {
  position: absolute;
  width: 100%;
  background-color: var(--clr-primary-900);
  z-index: 2;

  
}

.flex-nav {
  display: flex;
  flex-direction: column;
  
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: var(--clr-primary-900);
  max-width: 100%;
    
      
}

.nav-toggle {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 4rem;
   
 
  
  }

  

.nav-toggle:hover {
  cursor: pointer;
}



.nav-links {
  height: 0;
  overflow: hidden;
  transition: .75s;
  padding-left: 2.5rem;
  padding-top: 2rem;
  margin-top: 1rem;
  background-color: var(--clr-primary-900);

  
  
  
  
}

.nav-open {
  height: 100vh;
}

.header-logo{
  width: 15rem;
  transition: all 300ms;

  
  
 }



.body-header{
  background-image: url(img/header.jpg);
  height: 18rem;
  max-width: 100%;
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;

}



.body-right{
  border-image-slice: 1;
  border-radius: 1rem;
  width: 100%;
  color: var(--clr-primary-900);
  max-width: 100%;
  text-align: justify;
  
  
}


.body-right-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  
  
}


.body-right-images{
  border-radius: 2rem;
  box-shadow: 0px 10px 10px rgba(98, 98, 98, 0.4);
  margin-bottom: 3rem;
  max-width: 90%;
  width: 34rem;
  overflow: hidden;

}


.section-1, .section-2, .section-3{
  width: 100%;
  margin-inline: auto;
  max-width: 100%;
 


}



.section-1{
  display: flex;
  align-items: center;
  background-color: var(--clr-primary-300);

 
 
    
}




.section-2{
  background-color: var(--clr-primary-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify; 
  color: var(--clr-primary-900);
  
}

.section-2 h2{
  color: var(--clr-primary-900);
}



.section-3{
  
  display: flex;
  align-items: center;
  text-align: justify;   
    
}

.section-3 img{
  width: 4rem;
  transition: all 300ms ease-in-out;
  margin: 2rem;
}

.section-3 img:hover{
 transform: translateY(10%);
 transform: scale(1.25);
}


.body-3{
  background: linear-gradient(white, white) padding-box, linear-gradient(0deg, #ffffff, #ffdb4d) border-box;
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
  border-image-slice: 1;

  width: 100%;
  color: rgb(0, 0, 0);
  max-width: 100%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  align-items: left;
  
    
}


.body-3-inner-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
}




.contact-button{
  color: var(--clr-primary-200);
  background-color: var(--clr-primary-900);
  width: 25%;
  padding: 1rem;
  border-radius: 5rem;
  border-style: solid;
  border-width: .1rem;
  font-weight: bold;
  font-size: 1rem;
  transition: all 300ms ease-in-out;
  border-style: solid;
  border-color: var(--clr-primary-200);
  border-width: .25rem;
  box-shadow: 0rem .25rem .25rem rgba(0, 0, 0, .5);
  margin: 1rem;
  margin-inline: auto;

}


.contact-button:hover{
  cursor: pointer;
  width: 35%;
  color: var(--clr-primary-300);
  

}



.button{
  color: var(--clr-primary-200);
  background-color: var(--clr-primary-900);
  width: 50%;
  padding: 1rem;
  border-radius: 5rem;
  border-style: solid;
  border-width: .1rem;
  font-weight: bold;
  font-size: 1rem;
  transition: all 300ms ease-in-out;
  border-style: solid;
  border-color: var(--clr-primary-200);
  border-width: .25rem;
  box-shadow: 0rem .25rem .25rem rgba(0, 0, 0, .5);
  margin: 1rem;
  
  
}

.button:hover{
  cursor: pointer;
  width: 75%;
  color: var(--clr-primary-300);
  

}


.button-flex{
text-align: center;
}




.footer-logo{
  width: 5rem;
  margin: 1rem 0rem 1rem 0rem;

  
}






.footer{
  margin-top: 5rem;
  background-color: var(--clr-primary-200);
  color:#000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  padding-bottom: 3rem;
  background-color: var(--clr-primary-300);
  background-color: #ffdb4d;
  
}



.social-icon{
  width: 2rem;
  margin: 0rem .5rem 2rem 0rem;
  transition: all 300ms;
  

  
}


.social-icon:hover{
  opacity: .7;
  cursor: pointer;
    
}


.copyright{

  text-align: center;
  line-height: 0em;
  font-size: 1rem;
    
}



.develop{
  padding-top: 3rem;
  text-align: center;
  line-height: 0em;
  font-size: 1rem;
    
}




.watermark{
  width: 8rem;
}

.desktop-nav{
  display: none;
}





@media only screen and (min-width: 1000px){



  .carousel-inner{
    margin-top: 0rem;
  
 
    }
    
    .carousel-item{
      height: 30rem;
    }
    



  .desktop-nav{
    display: contents;
   }




  .nav-links {
      margin: 1rem 0rem 0rem 0rem; 
      display: none; 
    
    
    
  }











  .body-header{
    height: 35rem;
    background-position: center;
    background-repeat: no-repeat;
  

  }







  .body-right{
    flex-direction: row;
    width: 100%;
  }
  

  .body-right{
    padding: 1rem 0rem;
    text-align: center;
    
    
  }


  
  .button-flex{
    margin: 1rem 0rem 2rem;
    }
    

.section-2 p{
  width: 75%;

}


    
.button{
  width: 25%;
  
}

.button:hover{
  width: 35%;


}


  
  .container-flex-nav {
    max-width: 100%;
    padding-bottom: 0rem;
    background-color: var(--clr-primary-200);
    height: 4rem;
   
    }
  

  .navbar {
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);}
    

  .nav-toggle {
    display: none;
    }

  .nav-header {
  display: flex;
   flex-direction: row;
   background-color:var(--clr-primary-900);
   justify-content: space-between;
   padding: 0rem 4rem 0rem 4rem;
   box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, .4);
     
        
           
  }

   .flex-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }

  .nav-links {
    height: auto;

    padding-top: 0rem;
    
    }
    

h3{
  font-size: 2rem;
}



  ul{
    text-align: center;
    font-size: 1rem;
    
    
  }

  li a{
    transition: all 100ms;
  }

  li a:hover{
    border-bottom: .15rem solid var(--clr-primary-300);
    color: var(--clr-primary-200);

   
  }

  .nav-link {
    display: inline-block;
    border-bottom: none;
   
        
  }

 
  
  .body-right-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;}
    
    
    .body-3{
       flex-direction: row;
   
      
      
    }



    .section-3 img{
      width: 6rem;
      
    }



    .section-3 img:hover{
      transform: translateY(10%);
      transform: scale(1.1);
     }
     




}


