@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

:root{
  --clr-primary-200: #ffffff;
  --clr-primary-300: #ffdb4d;
  --clr-primary-400: #484848;
  --clr-primary-900: #000000;

}



.fade-in{
  opacity: 0;
  transition: opacity 600ms ease-in;
}

.fade-in.appear{
  opacity: 1;
}


.carousel-icon{
  width: 2rem;
}

.carousel-inner{
margin-top: 6rem;

}



.carousel-item{
  height: 20rem;
  background-color: var(--clr-primary-900);
  position: relative;
  background-position: center;
  background-size: cover;
  text-align: center;

 
 }

.carousel-container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 1rem;
 

}


.carousel-button{
  color: var(--clr-primary-200);
  background-color: var(--clr-primary-900);
  width: 50%;
  padding: 1rem;
  border-radius: 5rem;
  border-style: solid;
  border-width: .1rem;
  font-weight: bold;
  font-size: 1rem;
  transition: all 300ms ease-in-out;
  border-style: solid;
  border-color: var(--clr-primary-200);
  border-width: .25rem;
  box-shadow: 0rem .25rem .25rem rgba(0, 0, 0, .5);
  margin: 1rem;
  

}






.text-center{
  background-color: var(--clr-primary-300);
   
}

.text-center p{
  color: var(--clr-primary-900);
  line-height: 1rem;
  padding: 0rem;
  margin: auto 0;
}





.spinner-wrapper{
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary-900);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.spinner::before,
.spinner:after{
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image:linear-gradient(90deg, #ffdb4d 0%,#000000 100% );
  animation: spin .5s infinite linear;
}
.spinner:after {
  width: 90%;
  height: 90%;
  background-color: var(--clr-primary-900);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }

}





.form-label{
  font-weight: bold;
  color: var(--clr-primary-400);
}



.text-center{
  color: var(--clr-primary-200);}







* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  

}

body {
  font-family: "Rubik", serif;
  color: var(--clr-primary-900);
  font-size: 1rem;
  line-height: 1.25;
  height: 100vh;
  max-width: 100% !important;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;


}


p{
  margin-left: 1rem;
  margin-right: 1rem;
}

h1, h2{
  text-align: center;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--clr-primary-900);

}

h3{
  font-size: 1rem;
  text-align: center;
}

h4{
  text-align: center;
  font-weight: normal;
  font-size: 1.25rem;

}



.container-flex-nav {
  max-width: 100%;
  padding-bottom: 5rem;
  background-color: var(--clr-primary-200);
  height: 4rem;
  box-shadow: 0px 10px 10px rgba(98, 98, 98, 0.1);
  }


a {
  color: var(--clr-primary-200);
  text-decoration: none;
  font-weight: bold;
  transition: all 300ms;
}


a:hover{
  color: var(--clr-primary-300);
  cursor: pointer;
}


.nav-link {
  list-style: none;
  margin: 2rem 0;
  border-bottom: 2px solid rgb(0, 0, 0);
  width: 10rem;
  padding-top: 1rem;
  font-size: 1.25rem;
  border-bottom: var(--clr-primary-300);
  border-style: solid;
  
  
}


/* Navbar */
.navbar {
  position: absolute;
  width: 100%;
  background-color: var(--clr-primary-900);
  z-index: 3;

  
}

.flex-nav {
  display: flex;
  flex-direction: column;
  
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: var(--clr-primary-900);
  max-width: 100%;
    
      
}

.nav-toggle {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 4rem;
   
 
  
  }

  

.nav-toggle:hover {
  cursor: pointer;
}



.nav-links {
  height: 0;
  overflow: hidden;
  transition: .75s;
  margin-top: 1rem;
  background-color: var(--clr-primary-900);
  
  
  
}

.nav-open {
  height: 100vh;
}

.header-logo{
  width: 15rem;
  transition: all 300ms;


  
  
 }



.body-header{
  background-image: url(/src/img/header.jpg);
  height: 18rem;
  max-width: 100%;
  background-size: 125%;
  background-position: top;
  background-repeat: repeat;
  display: flex;
  align-items:flex-end;
  justify-content: center;

  
 
}

.body-header h1{
  font-size: 9vw;
  text-shadow: 0rem .5rem .5rem rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  mix-blend-mode: overlay;
  -webkit-text-stroke: 2px var(--clr-primary-200);
  -webkit-text-fill-color: transparent;

}





.body-right{
  border-image-slice: 1;
  border-radius: 1rem;
  width: 100%;
  max-width: 100%;
  text-align: left;

  
  
}


.body-right-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: space-between;
  
  
  
}


.body-right-images{
  border-radius: 2rem;
  box-shadow: 0px 10px 10px rgba(98, 98, 98, 0.4);
  margin-bottom: 3rem;
  max-width: 90%;
  width: 34rem;
  overflow: hidden;

}



.section-1, .section-2, .section-3{
  width: 100%;
  margin-inline: auto;
  max-width: 100%;



}



.section-1{
  display: flex;
  align-items: center;
  background-color: var(--clr-primary-100);

 
 
    
}




.section-2{
  background-color: var(--clr-primary-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify; 
  color: var(--clr-primary-900);
  
}

.section-2 h2{
  color: var(--clr-primary-900);
}



.section-3{
  width: 95%;
  display: flex;
  align-items: center;
  text-align: justify;   
  margin-top: 2rem;

    
}

.section-3 img{
  width: 4rem;
  transition: all 300ms ease-in-out;
  margin: 2rem;
}

.section-3 img:hover{
 transform: translateY(10%);
 transform: scale(1.25);
}


.body-3{
  background: linear-gradient(white, white) padding-box, linear-gradient(0deg, #ffffff, #ffdb4d) border-box;
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
  border-image-slice: 1;
  border-radius: 4rem;
  width: 100%;
  color: var(--clr-primary-900);
  max-width: 100%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  align-items: left;
  
    
}


.body-3-inner-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
}




.contact-button{
  color: var(--clr-primary-200);
  background-color: var(--clr-primary-900);
  width: 70%;
  padding: 1rem;
  border-radius: 5rem;
  border-style: solid;
  border-width: .1rem;
  font-weight: bold;
  font-size: 1rem;
  transition: all 300ms ease-in-out;
  border-style: solid;
  border-color: var(--clr-primary-200);
  border-width: .25rem;
  box-shadow: 0rem .25rem .25rem rgba(0, 0, 0, .5);
  margin: 2rem;
  margin-inline: auto;

}


.contact-button:hover{
  cursor: pointer;
  width: 75%;
  color: var(--clr-primary-300);
  

}



.button{
  color: var(--clr-primary-200);
  background-color: var(--clr-primary-900);
  width: 70%;
  padding: 1rem;
  border-radius: 5rem;
  border-style: solid;
  border-width: .1rem;
  font-weight: bold;
  font-size: 1rem;
  transition: all 300ms ease-in-out;
  border-style: solid;
  border-color: var(--clr-primary-200);
  border-width: .25rem;
  box-shadow: 0rem .25rem .25rem rgba(0, 0, 0, .5);
  margin: 1rem;
  
  
}



.button:hover{
  cursor: pointer;
  width: 75%;
  color: var(--clr-primary-300);
  

}


.button-flex{
text-align: center;
}


footer{
  margin-top: 10rem;

}


.footer-logo{
  width: 5rem;
  display: flex;
  margin-inline: auto;
 

  
}




.success-logo{
  width: 5rem;
  display: flex;
  margin-inline: auto;
}


.footer-section-1 p{
  margin: 0;
  

}



.footer-section-1{
  margin-top: 5rem;
  color:var(--clr-primary-900);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  background-color: var(--clr-primary-100);
  line-height: 3rem;
  margin: 0;
  margin-inline: auto;
  
}

.social-icon-section{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.social-icon{
  width: 2.5rem;
  margin: 1rem 1rem;
  transition: all 300ms;
  

  
}


.social-icon:hover{
  opacity: 80%;
  cursor: pointer;
    
}


.copyright{

  text-align: center;
  line-height: 0em;
  font-size: 1rem;
    
}



.develop{
 margin: auto 0;
  text-align: center;
  height: 10rem;
  color: var(--clr-primary-200);
  padding-top: 5rem;
  background-color: var(--clr-primary-900);
    
}




.watermark{
  width: 8rem;
}

.desktop-nav{
  display: none;
}





@media only screen and (min-width: 1000px){

  p{font-size: 1.5rem;}


  body {
    font-size: 1.25rem;
    line-height: 1.5;

  
  }

  


  h1, h2{
    font-size: 2rem;
  
  
  }
  
  h3{
    font-size: 2rem;
  }
  


  .carousel-inner{
    margin-top: 0rem;
  
 
    }
    
    .carousel-item{
      height: 34rem;
    }
    



  .desktop-nav{
    display: contents;
   }




  .nav-links {
      margin: 1rem 0rem 0rem 0rem; 
      display: none; 
    
    
    
  }





  .body-header{
    height: 34rem;
    background-position: center;
    background-repeat: no-repeat;
  

  }







  .body-right{
    flex-direction: row;
    width: 100%;
    padding: 1rem 0rem;
    
    
    
  }


  
  .button-flex{
    margin: 1rem 0rem 2rem;

    }
    

.section-1 p, .section-2 p{
  width: 80%;
  text-align: left;
  margin: 0 auto;

}


    
.button{
  width: 25%;
  font-size: 1.25rem;
  
}

.button:hover{
  width: 30%;


}


  

.contact-button{
  width: 25%;

}

.contact-button:hover{

  width: 30%;


}












  .container-flex-nav {
    max-width: 100%;
    padding-bottom: 0rem;
    background-color: var(--clr-primary-200);
    height: 4rem;
   
    }
  

  .navbar {
    position: relative;
    width: 100%;
    background-color: var(--clr-primary-900);}
    

  .nav-toggle {
    display: none;
    }

  .nav-header {
   display: flex;
   flex-direction: row;
   background-color:var(--clr-primary-900);
   justify-content: space-between;
   padding: 0rem 4rem 0rem 4rem;
   box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, .4);
     
        
           
  }

   .flex-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }

  .nav-links {
    height: auto;
    padding-top: 0rem;
    
    }
    



  ul{
    text-align: center;
    font-size: 1rem;
    
    
  }

  li a{
    transition: all 150ms;
  }

  li a:hover{
    border-bottom: .15rem solid var(--clr-primary-300);

   
  }

  .nav-link {
    display: inline-block;
    border-bottom: none;
   
        
  }

 
  
  .body-right-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;}
    
    
    .body-3{
      flex-direction: row;
      height: 20rem;
     

      
    }



    
.section-3{
  width: 80%;

    
}

    .section-3 img{
      width: 6rem;

      
    }



    .section-3 img:hover{
      transform: translateY(10%);
      transform: scale(1.1);
     }
     




}


