@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");



:root{
  --clr-primary-200: #ffffff;
  --clr-primary-300: #ffdb4d;
  --clr-primary-400: #484848;
  --clr-primary-900: #000000;

}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  

}

body {
  font-family: "Poppins", serif;
  color: rgb(214, 214, 214);
  padding-bottom: 2em;
  font-size: 1.3125rem;
  line-height: 1.6;
  height: 100vh;
  max-width: 100% !important;
  margin-right: auto;
  margin-left: auto;
  

}


p{
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;


}

h1, h2{
  text-align: center;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.container{background-color: #ffffff;
max-width: 100%;



}


.container-flex-nav {
  max-width: 100%;
  padding-right: 12rem;
  padding-bottom: 10rem;
  background-color: var(--clr-primary-200);
  height: 4rem;
  box-shadow: 0px 10px 10px rgba(98, 98, 98, 0.1)
  }


a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  transition: color .2s;
}

a:hover{
  color: var(--clr-primary-300);
 
}

.nav-link {
  list-style: none;
  margin: 2rem 0;
  border-bottom: 2px solid rgb(0, 0, 0);
  width: 8rem;
  
}


/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
  
}

.flex-nav {
  display: flex;
  flex-direction: column;
  
}

.nav-header {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  background-color: var(--clr-primary-200);
    
      
}

.nav-toggle {
  width: 40px;
  float:right;
  padding-top: 3rem;
  
  
  
  }

.nav-toggle:hover {
  cursor: pointer;
}



.nav-links {
  height: 0;
  overflow: hidden;
  transition: .75s;
  padding-left: 2.5rem;
  
  
}

.nav-open {
  height: 100vh;
}

.header-logo{
  width: 20rem;
  transition: opacity .1s;
  
  
 }

 .header-logo:hover{
   opacity: .5;
   
 }




.body-header{
  background-image: url(./header-image.jpg);
  height: 24rem;
  max-width: 100%;
  

}


.body-right{
  background: linear-gradient(white, white) padding-box, linear-gradient(0deg, #ffffff, #ffdb4d) border-box;
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
  border-image-slice: 1;
  border-radius: 1em;
  width: 100%;
  margin-top: .5em;
  color: rgb(0, 0, 0);
  max-width: 100%;
  text-align: justify;
   
  
}


.section-1{
  margin-top: 2rem;
  width: 100%;
  margin-inline: auto;
  width: min(95%, 90rem);
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  align-items: center;
  text-align: justify;   
    
}



.section-2{
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: #484848;
  width: 100%;
  margin-inline: auto;
  width: min(95%, 90rem);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  align-items: center;
  text-align: justify;   
  
}














.footer-graphic{
  width: 50%;
  justify-content: space-between;

}




.footer{
  margin-top: 5em;
  background-color: var(--clr-primary-300);
  color:#000000;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 1em;
  padding-bottom: 3em;
  max-width: 100%;
  
  
}

.footer-narrow{
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: min(95%, 40rem);
  
}

.social-icon{
  width: 2.5rem;
  transition: opacity .2s;
  margin: 0rem .5rem;
   
  
}


.social-icon:hover{
  opacity: .7;
  cursor: pointer;
    
}


.copyright{
  text-align: center;
  line-height: 0em;
  font-size: 1rem;
    
}


@media only screen and (min-width: 900px){
  
  .container-flex-nav {
    max-width: 100%;
    padding-right: 12rem;
    padding-bottom: 0rem;
    background-color: var(--clr-primary-200);
    height: 4rem;
    box-shadow: 0px 10px 10px rgba(98, 98, 98, 0.4);
    }
  

  .navbar {
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);}
    

  .nav-toggle {
    display: none;
    }

  .nav-header {
    display: block;
     background-color:var(--clr-primary-200);
    
           
  }

  .flex-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }

  .nav-links {
    height: auto;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    
    }
    



  ul{
    text-align: center;
    padding-top: -1.5em;
    font-size: 1em;
    
    
  }

  .nav-link {
    display: inline-block;
    border-bottom: none;
   
        
  }

 






}

