@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

:root{
  --clr-primary-200: #ffffff;
  --clr-primary-300: #ffdb4d;
  --clr-primary-400: #484848;
  --clr-primary-900: #000000;

}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: "Poppins", serif;
  color: rgb(214, 214, 214);
  padding-bottom: 2em;
  font-size: 1.3125rem;
  line-height: 1.6;
  height: 100vh;

}


p{
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;


}

h1, h2{
  text-align: center;
  margin-bottom: .5rem;
}

.container{background-color: #ffffff;}


.container-flex-nav {
  max-width: 100%;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: var(--clr-primary-200);
  height: 140px;
  box-shadow: 0px 10px 10px rgba(98, 98, 98, 0.1)
  }

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  transition: color .2s;
}

a:hover{
  color: var(--clr-primary-300);
 
}

.nav-link {
  list-style: none;
  margin: 20px 0;
  border-bottom: 2px solid rgb(0, 0, 0);
  width: 8rem;
  
}


/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
  
}

.flex-nav {
  display: flex;
  flex-direction: column;
  
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
    
}

.nav-toggle {
  border: transparent;
  background: transparent;
  width: 40px;
  }

.nav-toggle:hover {
  cursor: pointer;
}



.nav-links {
  height: 0;
  overflow: hidden;
  transition: .75s;
  padding-left: 40px;
  
}

.nav-open {
  height: 100vh;
}

.header-logo{
  width: 300px;
  justify-content: space-between;
  align-items: center;
 

}


.under-header{
  background-color: lightpink;
  height: 1000px;
}



.flex-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  width: min(90%, 70.5rem);
  background-color: var(--clr-primary-200);
 
    
}

.body-left{
  flex: 1;
  padding-top: 200px;
  background-color: rgb(255, 255, 255);
  
   
  
  
}

.body-image-1{
  box-shadow: 0px 10px 5px rgba(158, 158, 158, 0.5);
  transition: box-shadow 1s;
  width: 100%;
  border-radius: 1rem;
  
  
  
}




.body-right{
  border-color: var(--clr-primary-300);
  border-style: solid;
  border-radius: 1rem;
  width: 100%;
  margin-top: 1em;
  color: rgb(0, 0, 0);
  max-width: 100%;
  text-align: justify;
  
  
}


.section{
  margin-top: 20px;
  background-color: #484848;
  width: 100%;
  margin-inline: auto;
  width: min(90%, 70.5rem);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  align-items: center;
  text-align: justify;   
}


.footer-graphic{
  width: 75%;
  justify-content: space-between;
}


.footer{
  margin-top: 20px;
  background-color: var(--clr-primary-300);
  color:#000000;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 1em;
  
}

.footer-narrow{
  
  max-width: 90%;
  display: flex;
  align-items: center;
  text-align: center;
  
}

.social-icon{
  width: 2.5rem;
  transition: opacity .2s;
  margin-right: 1em;  
}


.social-icon:hover{
  opacity: .7;
  cursor: pointer;
}


.copyright{
  text-align: center;
  line-height: 0em
}


@media only screen and (min-width: 900px) {
  .nav-toggle {
    display: none;
  }

  .nav-header {
    display: block;
  }

  .flex-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }

  .nav-links {
    height: auto;
  }

  ul {
    text-align: center;
    padding-top: -10px;
    font-size: 20px;
    
  }

  .nav-link {
    display: inline-block;
    border-bottom: none;
  }
}

