---
title: Jim Clauss Remodeling
layout: "base.njk"


---


  <div class='spinner-wrapper'>
    <div class="spinner"></div>
</div>


      

       
                 <div class="body-header">                    
                                
                </div>
        
        

 <div class="fade-in">

    <div class="container mt-5">
        <h1>
          Contact Us
        </h1>
          <p>Fill out the form below to request a free quote or ask any questions. We will get back to you within 24 hours.</p>


        <form class="row g-3"action="https://formsubmit.co/feasiblegfx@gmail.com" method="POST">
          <!-- Honeypot -->
          <input type="text" name="_honey" style="display: none;">

          <!-- Disable Captcha -->
          <input type="hidden" name="_captcha" value="false">


          <input type="hidden" name="_next" value="/success/">


          <div class="col-md-6">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" name="name" id="firstName" required>


          </div>
          <div class="col-md-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="Last&nbsp;Name" id="lastName" required>

          </div>


          <div class="col-md-8">
            <label for="emailInfo" class="form-label">E-mail</label>
            <input type="email" class="form-control" name="email" id="emailInfo" required>


          </div>



          <div class="col-md-4">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="text" class="form-control" name="phone" id="phoneNumber" placeholder="+1 (215) 555-5555">
          </div>



          <div class="col-md-12">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" name="message" rows="5"></textarea>


            
          </div>
            <button class="contact-button">Submit</button>
        </form>

      </div>

    </div>
 










           <script src="loading.js"></script>
        <script src="app.js"></script>
